@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=PT+Sans&family=Poppins:wght@400;600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;600;700&display=swap');


:root{
    --orange:#FFB742;
    --black:#212529;
    --font-inter:'Inter', sans-serif;
    --font-roboto:'Inter', sans-serif;
    --font-Work-Sans: 'Work Sans', sans-serif;
    font-size: 10px;
}

body{
    background-color: var(--black);
    
}

body, ul{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    width:90%;
    margin: 0 auto;


}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;

}

.header_navigation{
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-between;
    text-transform: capitalize;
}

.header_navigation a {
    color: white;
    font-weight: 600;
    transition: all 1s;
}

.header_navigation a:hover{
    color:var(--orange);
}


.header_navigation +div > a{
    color: var(--black);
    text-align: center;
    width: 121px;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    display: inline-block;
    padding: 10px 0px;
    border-radius: 50px;
    font-family: 'poppins';
    font-weight: 700;

}

.section1{
    text-align: center;
    font-family: var(--font-inter);
    text-transform:capitalize;
    line-height: 6rem;
}

.hi-iam,.kartik, .hello{
    font-size: 32px;
    font-weight: 700;
}

.hi-iam{
    color: white;
    padding: 0px 1rem;
}

.kartik{
    color:var(--orange);
    text-decoration: underline;

}

.cdandfed{
    font-size: 48px;
    font-weight: 700;
    color: white;
    
}

.idesign{
    font-style: var(--font-inter);
    font-size: 24px;
    font-weight: 400;
    color: white;
    line-height: 20rem;
}

.avatar{
   margin-bottom: 14rem;
}

.three-main-blocks{
    display: flex;
    justify-content: space-between;
}

.card-des{
    text-align: center;
}

.card-wrapper{
    width: 30%;
    height: 120px;
    background-color: #292B2e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    transition: all .3s;
}

.card-wrapper:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
    
}

.card-text{
    font-family: var(--font-inter);
    font-size: 3.2rem;
    font-weight: bold;
    color:var(--orange);
}

.card-wrapper:hover .card-text, .card-wrapper:hover .card-small-text{
color: var(--black);
}

.card-small-text{
    font-family: var(--font-inter);
    font-size: 1.6rem;
    font-weight: bold;
    color:white;

}

.section2{
    margin-top: 20rem;
    display: flex;
    margin-left: 50px;
    
}

.foto-section2{
    width: 725px;
}

.text-section2{
    margin-left:250px;
    margin-right: 9rem;

}

.whoiam{
    color:var(--orange);
    border-radius:50px;
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    font-family:'Poppins';
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    padding: 10px 20px;

}

.aboutme{
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 48px;
    text-transform:capitalize;
    color: rgba(255, 255, 255, 1);
}

.text-aboutme{
    font-family: 'poppins';
    font-size: 1.6rem;
    font-weight: 400;
    color:#D5D5D5;
    margin-top: 4rem;
}

.section2_navigation-btn, .section3_navigation-btn{
    color: var(--black);
    text-align: center;
    font-size: 1.8rem;
    font-family: 'poppins';
    font-weight: 700;
    width: 121px;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    display: inline-block;
    padding: 10px 0px;
    border-radius: 50px;
    margin-top: 8rem;
   
}

.section3{
    display: flex;
    justify-content: space-around;
    padding: 0rem 5rem;
    width: 100%;
}

.myskills{
    color:var(--orange);
    border-radius:50px;
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    font-family:'Poppins';
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    padding: 10px 20px;
}

.section3_question{
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 48px;
    text-transform:capitalize;
    color: rgba(255, 255, 255, 1);
    margin-right: 15rem;
    
}

.text2_section3{
    font-family: 'poppins';
    font-size: 1.6rem;
    font-weight: 400;
    color:white;
    margin-top: 4rem;
    margin-right: 15rem;
    
 
}

.logo_section3{
    display: inline-block;
    width: 70rem;
     
}

.logo_section3 div{
    border-radius: 10%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 15px;
    padding-top: 20px;
    display: inline-block;
    align-items: center;
    background-color: rgba(56, 62, 69, 1);
    margin: 1rem;
    vertical-align: top;
 
}
.logo_section3 div:hover{
    background-color:rgba(255, 183, 66, 0.5);
}

.section4{
    text-align: center;
    
}
.myworks{
    color:var(--orange);
    border-radius:50px;
    background-color: rgba(255, 255, 255, 0.08);
    font-family:'Poppins';
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    padding: 10px 20px;
    text-align: center;
    margin-top: 20rem;
    display: inline-block;

}
.featuredworks{
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 48px;
    text-transform:capitalize;
    color: rgba(255, 255, 255, 1);
    
}

.section4_navigation ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'poppins';
    font-weight: 600;
    color: white;
    margin-left: 55rem;
    margin-right: 55rem;
    justify-content: space-between;
    margin-top: 10rem;
    margin-bottom: 10rem;
    
    

}
.section4_navigation a{
    color: white;
    transition: all 1s;
}
    
.section4_navigation a:hover{
        color:black
}

.section4_navigation-item{
   
   width: fit-content;
   border-radius: 10%;
   padding: 1.5rem;
   transition: all 1s;
}
.section4_navigation-item:hover{
    background-color: rgba(255, 183, 66, 1);
   
}
.card_section{
    display: flex;
    justify-content:center;
       
}
.card_section>div>div{
    margin:5rem 2.5rem;
}
.card_section>div>div>img{
    width: 45rem;
}

.review{
    text-align: center;
}



.testimonials{
    color:var(--orange);
    border-radius:50px;
    background-color: rgba(255, 255, 255, 0.08);
    font-family:'Poppins';
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    padding: 10px 20px;
    margin-top: 10rem;
    display: inline-block;

}

.whatcustomersays{
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 40px;
    text-transform:capitalize;
    color: rgba(255, 255, 255, 1);
}

.card_review{
    display: flex;
    justify-content: center;
    margin: 15rem 9rem;
    
}
.review1, .review2, .review3{
border-radius: 10px;
background-color: rgba(255, 255, 255, 1);
width: 30%;
margin: 2.5rem;
padding: 2rem;
}

.stars{
    text-align: left;
    padding-bottom: 10px;
}
.textreview{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 20px;
    text-align: left;
}
.reviewperson{
    display: flex;
    margin-top: 3rem;
}
.khushi_gupta{
    font-family: 'poppins';
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
    text-align: left;
    padding-left: 3rem;

}
.designer{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    text-align: left;
    padding-left: 3rem;

}

.footer{
    display: flex;
    justify-content: space-around;
    background-color: rgba(28, 28, 28, 1);
    font-size: 1.6rem;
    color:rgba(212, 212, 212, 1);
    text-transform: capitalize;
    padding-bottom: 10rem;
    padding-top: 10rem;
    
    
}

.kartikbansal a{
    font-family: 'poppins';
    font-weight: 700;
    font-size: 32px;
    list-style: none;
    color: var(--orange);
   
    
}

.footer>div>div>ul>li{
    list-style: none;
    text-transform: capitalize;
    font-family: var(--font-Work-Sans);
    font-weight: 500;
    font-size: 1.8rem;
    color: rgba(123, 123, 123, 1);
    margin-top: 10px;
}

    
.footer>div>div>ul>li>a{
    color: rgba(123, 123, 123, 1);
    
}

.head_of_footer{
    font-family: var(--font-Work-Sans);
    font-weight: 700;
    font-size: 22px;
    color: rgba(245, 251, 242, 1);
}
